---
layout: default
---


<article id="main">
    <div id="sites"></div>
    <div id="members"></div>
    <header class="special container">
        <span class="icon fa-users"></span>
        <h2>Skuld<span class="highlight">Net</span> Members</h2>
    </header>


    <section class="wrapper style3 container special" id="sitemem">
        <div class="sit"><a id="sitpage" class="pages" href="#sites"> SITES </a></div>
        <div class="mem"><a class="pages" href="#members"> PEOPLE </a></div>
    </section>

    <section class="wrapper style3 container special" id="labpage">

    {% for post in site.categories.labs %}
        <div class="row posts lab">
          <div class="3u">
            <a href="#{{post.title}}">
              <span class="image logo lab"><img src="{{post.image-file}}" alt=""></span>
              <h2 class="lab">{{post.title}}</h2>
            </a>
          </div>

          <div class="9u">
            <div class="row posts lab">
              <a href="#{{post.title}}">
                <span class="lab">{{post.excerpt}}</span>
                <h3> READ MORE </h3>
              </a>
            </div>

            {% capture labid %}{{post.code}}{% endcapture %}
            <div class="row posts lab">
              {% for person in site.categories[labid] %}
              <div class="2u small">
                <a href="#{{person.title}}">
                  <span class="image people lab"><img src="{{person.image-file}}" alt=""></span>
                  <h2 class="people lab">{{person.name}}<br />{{person.surname}}</h2>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>

    {% endfor %}

    </section>


    <!-- Section with all members side by side -->
    <section class="wrapper style3 container special" id="mempage">

      <div class="row posts people">
        {% for post in site.categories.people %}
        <div class="4u">
          <a href="#{{post.title}}">
            <span class="image people"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people">{{post.name}}<br />{{post.surname}}</h2>
            <span class="people">{{post.excerpt}}</span>
          </a>
        </div>
        {% endfor %}
      </div>

      </section>


    <!-- Individual pages of people -->
    {% for post in site.categories.people %}
    <div id="{{post.title}}" class="modalDialog">
      <div class="container">	<a href="#close" title="Close" class="close">X</a>
        <div class="row posts people dialog">
          <div class="4u dialog">
            <span class="image people dialog"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people dialog">{{post.name}}<br />{{post.surname}}</h2>
            <div class="icons">
              {% if post.mail %}
                <a href="mailto:{{post.mail}}" class="icon circle fa-envelope-o">
                </a>
              {% endif %}

              {% if post.website %}
                <a href="{{post.website}}" class="icon circle fa-globe">
                </a>
              {% endif %}

              {% if post.Twitter %}
                <a href="{{post.Twitter}}" class="icon circle fa-twitter">
                </a>
              {% endif %}

              {% if post.researchgate %}
                <a href="{{post.researchgate}}" class="icon circle fa-graduation-cap">
                </a>
              {% endif %}
            </div>
          </div>
          <div class="8u dialog text">
              <span class="people dialog">{{post.content}}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</article>
