---
layout: default
---

<article id="main">
    <header class="special container">
        <span class="icon fa-users"></span>
        <h2>C-LAB <strong>Members</strong></h2>
    </header>
    
    <section class="wrapper style3 container special">
      
      <div class="row posts people">
        {% assign clab = site.categories.people | where:"category", "clab" %}
        {% for post in clab %}
        <div class="4u">
          <a href="#{{post.title}}">
            <span class="image people"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people">{{post.name}}<br />{{post.surname}}</h2>
            <span class="people">{{post.excerpt}}</span>
          </a>
        </div>
        {% endfor %}
      </div>
      
      </section>
      
      <section class="wrapper style3 container special">
      
      <h2>Collaborators</h2>
      <div class="row posts people">
        {% assign colab = site.categories.people | where:"category", "colab" %}
        {% for post in colab %}
        <div class="4u">
          <a href="#{{post.title}}">
            <span class="image people"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people">{{post.name}}<br />{{post.surname}}</h2>
            <span class="people">{{post.excerpt}}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    
    </section>
    {% for post in site.categories.people %}
    <div id="{{post.title}}" class="modalDialog">
      <div class="container">	<a href="#close" title="Close" class="close">X</a>
        <div class="row posts people dialog">
          <div class="4u dialog">
            <span class="image people dialog"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people dialog">{{post.name}}<br />{{post.surname}}</h2>
            <div class="icons">
              {% if post.mail %}
                <a href="mailto:{{post.mail}}" class="icon circle fa-envelope-o">
                </a>
              {% endif %}
              
              {% if post.website %}
                <a href="{{post.website}}" class="icon circle fa-globe">
                </a>
              {% endif %}
              
              {% if post.Twitter %}
                <a href="{{post.Twitter}}" class="icon circle fa-twitter">
                </a>
              {% endif %}
              
              {% if post.researchgate %}
                <a href="{{post.researchgate}}" class="icon circle fa-graduation-cap">
                </a>
              {% endif %}
            </div>
          </div>
          <div class="8u dialog text">
              <span class="people dialog">{{post.content}}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</article>
