---
layout: default
---

<article id="main">
    <header class="special container">
        <span class="icon fa-book"></span>
        <h2><strong>Publications</strong></h2>
    </header>
    <div class="publication-navi style4 container">
      <a href="#Articles" class="scrolly"><h3>Articles</h3></a>
      <a href="#Books" class="scrolly"><h3>Books</h3></a>
      <a href="#Book-chapters" class="scrolly"><h3>Book chapters</h3></a>
      <a href="#Conference" class="scrolly"><h3>Conference articles</h3></a>
      <a href="#Other" class="scrolly"><h3>Other</h3></a>
    </div>
    <section id="Articles" class="wrapper style4 container">
      <h2>Articles:</h2>
          {% assign postsByYear = site.categories.article | group_by_exp:"article", "article.date | date: '%Y'"  %}
          {% for year in postsByYear %}
              <h3>{{year.name}}</h3>
              {% for post in year.items %}
                    <p class="publication">
                      {{ post.excerpt | remove: '<p>' | remove: '</p>'}}
                      {% if post.pdf %}
                        <a href="{{post.pdf}}"><span class="icon fa-file-pdf-o"></span></a>
                      {% endif %}
                      {% if post.link %}
                        <a href="{{post.link}}" target=”_blank”><span class="icon fa-globe"></span></a>
                      {% endif %}
                    </p>
              {% endfor %}
          {% endfor %}
          <a href="#main" id="back-to-top" class="scrolly"><h3>Back to top</h3></a>
    </section>
    <section id="Books" class="wrapper style4 container">
          <h2>Books:</h2>
              {% for post in site.categories.book %}
                    <p class="publication">
                      {{ post.excerpt | remove: '<p>' | remove: '</p>'}}
                      {% if post.pdf %}
                        <a href="{{post.pdf}}"><span class="icon fa-file-pdf-o"></span></a>
                      {% endif %}
                      {% if post.link %}
                        <a href="{{post.link}}" target=”_blank”><span class="icon fa-globe"></span></a>
                      {% endif %}
                    </p>
              {% endfor %}
              <a href="#main" id="back-to-top" class="scrolly"><h3>Back to top</h3></a>
    </section>
    <section id="Book-chapters" class="wrapper style4 container">
          <h2>Book chapters:</h2>
              {% for post in site.categories.book-chapter %}
                    <p class="publication">
                      {{ post.excerpt | remove: '<p>' | remove: '</p>'}}
                      {% if post.pdf %}
                        <a href="{{post.pdf}}"><span class="icon fa-file-pdf-o"></span></a>
                      {% endif %}
                      {% if post.link %}
                        <a href="{{post.link}}" target=”_blank”><span class="icon fa-globe"></span></a>
                      {% endif %}
                    </p>
              {% endfor %}
              <a href="#main" id="back-to-top" class="scrolly"><h3>Back to top</h3></a>
    </section>
</article>
