<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <object type="image/svg+xml" data="/images/c-lab.svg" class="logo">
          C-Lab Logo <!-- fallback image in CSS -->
        </object>

        <header>
            <h2>C-LAB</h2>
        </header>
        <p>Homepage of
        <br />
        <strong>Consciousness Lab</strong>
        <br />
        based at
        <br />
        Jagiellonian University.
        </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Get to know us</a></li>
            </ul>
        </footer>

    </div>

</section>
