<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <object type="image/svg+xml" data="/images/logo_skuldnet.svg" class="logo">
          SkuldNet Logo <!-- fallback image in CSS -->
        </object>

        <header>
            <h2>Skuld<span class="highlight">Net</span></h2>
        </header>

        <footer>
            <ul class="buttons vertical">
                <li><a href="about.html" class="button fit scrolly">READ MORE</a></li>
            </ul>
        </footer>

    </div>

</section>
