<header id="header">
				<h1 id="logo">
					<a href="/">
						<object type="image/svg+xml" data="/images/c-lab.svg" class="logo-small" style="width:3.5em; margin-left:0.5em; vertical-align:middle">
		          C-Lab Logo <!-- fallback image in CSS -->
		        </object>
						<span style="font-family:break; font-size:2em; margin-left:0.5em; color:#1c1c17; vertical-align:middle">C-Lab</span>
					</a>
				</h1>
				<nav id="nav">
					<ul>
						<li><a href="/news.html">News</a></li>
            <li><a href="/people.html">People</a></li>
						<li><a href="/conferences.html">Projects</a></li>
						<li><a href="/publications.html">Publications</a></li>
						<li><a href="/network.html">Network</a></li>
					</ul>
				</nav>
			</header>
