<header id="header">
				<h1 id="logo">
					<a href="/">
						<object type="image/svg+xml" data="/images/logo_skuldnet.svg" class="logo-small" style="width:2em; margin-left:0.5em; vertical-align:middle">
		          SkuldNet Logo <!-- fallback image in CSS -->
		        </object>
						<span class="text">Skuld<span class="highlight">Net</span></span>
					</a>
				</h1>
				<nav id="nav">
					<ul>
            <li><a href="/about.html">About</a></li>
						<li><a href="/consortium.html">Consortium</a></li>
						<li><a href="/news.html">News</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</nav>
			</header>
